DATA_BASE_PATH=./data
BACKEND_HOST=0.0.0.0
BACKEND_PORT=8000
TWILIO_ACCOUNT_SID=get_from_twilio_console
TWILIO_AUTH_TOKEN=get_from_twilio_console
TWILIO_PHONE_NUMBER=+1XXXXXXXXXX
ALERT_PHONE_NUMBERS=+919876543210
CALENDARIFIC_API_KEY=get_from_calendarific_com
CALENDARIFIC_COUNTRY=IN
CALENDARIFIC_STATE=in-ka
CALENDARIFIC_YEAR=2025
FEEDBACK_DB_PATH=./aletheon_feedback.db
KANNADA_CACHE_PATH=./data/kannada_cache.json
